@font-face {
    font-family: 'Darling Delicate 400';
    src: url('font/Darling\ Delicate\ 400.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sevilla';
    src: url('font/Sevillana-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(230, 200, 150);
}

div.mainBody {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: darkcyan; */
}

#divTitle {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

/*! Başlık içerir.*/
div.childBody {
    margin-top: 0.5rem;
    width: 60rem;
    height: 4rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(230, 200, 150); */
}

#yellow,
#purple {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    align-self: center;
}

#yellow {
    background-color: yellow;
}

#purple {
    background-color: purple;
}

h1#title {
    color: rgb(255, 38, 0);
    display: flex;
    justify-content: center;
    letter-spacing: 2rem;
    font-size: 4rem;
    font-family: 'Darling Delicate 400', sans-serif;
}

/*! "play with computer" tuşunu içerir.*/
div#getUniqueNumber {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4rem;
    width: 100%;
    height: 5rem;
    /* background-color: rgb(97, 181, 153); */
}

/*! "play with computer" tuşu.*/
button#myMainButton {
    position: absolute;
    display: flex;
    color: blue;
    font-family: 'Darling Delicate 400', sans-serif;
    font-size: 2rem;
    letter-spacing: 10px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border: 2px;
    border-radius: 4rem;
    width: 34rem;
    height: 3rem;
    background-color: chartreuse;
}

/*!generateUniqueRandomNumber() fonksiyonu ile çalışıyor.*/
button.clicked {
    transform: scale(0.85, 0.85);
    transition: transform 0.5s ease;
}

button#myMainButton:disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed;
    height: 3rem;
}

/*! input değerleri, tuşları ve geri bildirimleri içerir.*/
div.container {
    display: flex;
    columns: 2;
}
div.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 50%;
    margin-top: 0;
    /* background-color: cadetblue; */
}
.inputRow {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    /* background-color: aqua; */
    width: 40rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
p.bullet {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 1.75rem;
    border: 1px solid red;
    border-radius: 50%;
    background-color: rgb(253, 144, 1);
    margin-top: 0.8rem;
}

input.myGuessInput {
    border-radius: 5px;
    width: 10rem;
    height: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.6rem;
    margin-bottom: 0.8rem;
    align-self: center;
    justify-self: center;
}

p.myPFeedback {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    color: aqua;
    font-family: monospace, sans-serif;
    width: 18rem;
    height: 3rem;
    border-radius: 5px;
    background-color: brown;
    margin-top: 0;
    margin-bottom: 6px;
}
div.worksheetContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* background-color: blueviolet; */
    width: 50%;

}
p.subTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: purple;
    text-align: center;
    font-family: 'Darling Delicate 400', sans-serif;
    letter-spacing: 1rem;
    height: 0.1rem;
}

textarea#scratchpad {
    background-color: goldenrod;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-family: 'Courier New', Courier, monospace;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.containerBox {
    /* background-color: rgb(62, 91, 91); */
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    perspective: 400px;
    transform-style: preserve-3d;
    /* transform: translateX(50%); */
}

.box {
    width: 4rem;
    height: 4rem;
    box-shadow: 0 0 10px #0000004d;
    border: 1px solid #bbb;
    border-radius: 25px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 3000ms ease-in-out;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
}

.box {
    left: 80%;
}

.box:nth-of-type(6) {
    left: 40%;
    transform: translate(-50%, -50%) rotateY(-10deg) translateZ(-200px);
    opacity: 0;
    z-index: 2;
}

.box:nth-of-type(5) {
    left: 35%;
    transform: translate(-50%, -50%) rotateY(-10deg) translateZ(-150px);
    opacity: 0.25;
    z-index: 2;
}

.box:nth-of-type(4) {
    left: 30%;
    transform: translate(-50%, -50%) rotateY(-10deg) translateZ(-100px);
    opacity: 0.5;
    z-index: 5;
}

.box:nth-of-type(3) {
    left: 25%;
    color: #eee;
    transform: translate(-50%, -50%) rotateY(-10deg) translateZ(-50px);
    opacity: 0.75;
    z-index: 10;
}

.box:nth-of-type(2) {
    left: 20%;
    transform: translate(-50%, -50%) rotateY(-10deg);
    z-index: 5;
}

.box:first-of-type {
    left: 15%;
    transform: translate(-50%, -50%);
    rotateY(-10deg);
    z-index: 5;
    opacity: 0;
}